In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

/var/folders/3c/pb1mvv954893vlh3_4cdhtww0000gn/T/ipykernel_11401/1112673610.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df=pd.read_csv('wines_SPA.csv')

In [3]:
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [4]:
df.sample(5)

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
662,Bodegas Mauro,Red,2019,4.4,1701,Espana,Castilla y Leon,29.45,Red,4.0,3.0
3324,Vinedos de Paganos,El Puntido,2005,4.2,384,Espana,Rioja,73.00,Rioja Red,4.0,3.0
6267,Matsu,El Viejo,2019,4.2,400,Espana,Toro,27.89,Toro Red,5.0,3.0
5077,Clos Pons,Roc Nu,2011,4.2,420,Espana,Costers del Segre,23.95,Red,4.0,3.0
2070,Conreria d'Scala Dei,Les Brugueres,2018,4.2,390,Espana,Priorato,16.76,Priorat Red,4.0,3.0

In [5]:
df.isnull().sum()

winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type            545
body           1169
acidity        1169
dtype: int64

In [6]:
df['body']=df.body.fillna(df.body.mean())

In [7]:
df['acidity']=df.acidity.fillna(df.acidity.mean())
df['type'] = df['type'].fillna(df['type'].mode()[0])
df['year'] = df['year'].fillna(df['type'].mode()[0])
df.isnull().sum()

winery         0
wine           0
year           0
rating         0
num_reviews    0
country        0
region         0
price          0
type           0
body           0
acidity        0
dtype: int64

In [8]:
df.value_counts('wine')
df.value_counts('winery')
df.value_counts('num_reviews')
df.value_counts('acidity')
df.dtypes
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['country']= le.fit_transform(df['country'])
df['region']= le.fit_transform(df['region'])
df['winery']= le.fit_transform(df['wine'])
df['wine']= le.fit_transform(df['wine'])
df['type']= le.fit_transform(df['type'])
df['year']= le.fit_transform(df['year'])
df['body'] = df['body'].astype('int64')
df['acidity'] = df['acidity'].astype('int64')
df['rating'] = df['rating'].astype('int64')
df['price'] = df['price'].astype('int64')
df.dtypes

winery         int64
wine           int64
year           int64
rating         int64
num_reviews    int64
country        int64
region         int64
price          int64
type           int64
body           int64
acidity        int64
dtype: object

In [9]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(df)
normalized_df = pd.DataFrame(normalized_data, columns=df.columns)
print("Normalized Data:")
print(normalized_df)

Normalized Data:
        winery      wine      year  rating  num_reviews  country    region  \
0     0.897163  0.897163  0.859155     0.0     0.001012      0.0  0.920000
1     0.968085  0.968085  0.929577     0.0     0.000184      0.0  0.986667
2     0.919622  0.919622  0.802817     0.0     0.054235      0.0  0.760000
3     0.919622  0.919622  0.661972     0.0     0.051535      0.0  0.760000
4     0.919622  0.919622  0.619718     0.0     0.039388      0.0  0.760000
...        ...       ...       ...     ...          ...      ...       ...
7495  0.731678  0.731678  0.901408     0.0     0.011258      0.0  0.786667
7496  0.520095  0.520095  0.929577     0.0     0.011197      0.0  0.706667
7497  0.356974  0.356974  0.915493     0.0     0.011197      0.0  0.320000
7498  0.404255  0.404255  0.830986     0.0     0.011166      0.0  0.760000
7499  0.704492  0.704492  0.901408     0.0     0.011135      0.0  0.760000

         price  type      body  acidity
0     0.318138  0.95  1.000000      1.0
1     0.099197  0.90  0.666667      0.5
2     0.102729  0.55  1.000000      1.0
3     0.220867  0.55  1.000000      1.0
4     0.248475  0.55  1.000000      1.0
...        ...   ...       ...      ...
7495  0.004815  0.60  0.666667      1.0
7496  0.003852  0.45  0.666667      1.0
7497  0.006421  0.50  0.666667      1.0
7498  0.019262  0.55  1.000000      1.0
7499  0.008668  0.55  1.000000      1.0

[7500 rows x 11 columns]

In [10]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)
print("\nScaled Data:")
print(scaled_df)

Scaled Data:
        winery      wine      year  rating  num_reviews  country    region  \
0     1.257374  1.257374 -0.138855     0.0    -0.543754      0.0  1.086370
1     1.516556  1.516556  0.638782     0.0    -0.581101      0.0  1.375263
2     1.339448  1.339448 -0.760964     0.0     1.856123      0.0  0.393026
3     1.339448  1.339448 -2.316236     0.0     1.734400      0.0  0.393026
4     1.339448  1.339448 -2.782818     0.0     1.186647      0.0  0.393026
...        ...       ...       ...     ...          ...      ...       ...
7495  0.652618  0.652618  0.327727     0.0    -0.081761      0.0  0.508583
7496 -0.120607 -0.120607  0.638782     0.0    -0.084527      0.0  0.161911
7497 -0.716724 -0.716724  0.483254     0.0    -0.084527      0.0 -1.513670
7498 -0.543936 -0.543936 -0.449909     0.0    -0.085910      0.0  0.393026
7499  0.553265  0.553265  0.327727     0.0    -0.087293      0.0  0.393026

         price      type      body   acidity
0     6.219881  2.209869  1.607189  0.487489
1     1.685497  1.926340 -0.248116 -1.938635
2     1.758633 -0.058369  1.607189  0.487489
3     4.205338 -0.058369  1.607189  0.487489
4     4.777123 -0.058369  1.607189  0.487489
...        ...       ...       ...       ...
7495 -0.269208  0.225161 -0.248116  0.487489
7496 -0.289154 -0.625429 -0.248116  0.487489
7497 -0.235964 -0.341899 -0.248116  0.487489
7498  0.029982 -0.058369  1.607189  0.487489
7499 -0.189424 -0.058369  1.607189  0.487489

[7500 rows x 11 columns]