In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sn

In [2]:
df=pd.read_csv('wines_SPA.csv')

In [3]:
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [4]:
df['body'].fillna(df['body'].median(), inplace=True)
df['acidity'].fillna(df['acidity'].median(), inplace=True)
df.dropna(inplace=True)
df['year'] = pd.to_numeric(df['year'], errors='coerce')
df['year'] = df['year'].astype('Int64')
df['year'].fillna(df['year'].median(), inplace=True)
df['year'] = 2024 - df['year']

In [5]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for column in df.columns:
    if df[column].dtype == 'object':  
        df[column] = label_encoder.fit_transform(df[column])

In [6]:
df.drop(columns=['country'],inplace=True)

In [7]:
df.drop(columns=['num_reviews'],inplace=True)
df.drop(columns=['winery'],inplace=True)
df.drop(columns=['region'],inplace=True)

In [8]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [9]:
column_to_exclude = 'price'

column_to_exclude_data = df[column_to_exclude]

data_subset = df.drop(columns=[column_to_exclude])

scaler = MinMaxScaler()

scaled_data_subset = scaler.fit_transform(data_subset)

scaled_data = pd.DataFrame(scaled_data_subset, columns=data_subset.columns, index=data_subset.index)
scaled_data[column_to_exclude] = column_to_exclude_data
scaled_data

          wine      year    rating  type      body  acidity   price
0     0.900913  0.072072  1.000000  0.95  1.000000      1.0  995.00
1     0.968709  0.027027  1.000000  0.90  0.666667      0.5  313.50
2     0.924381  0.108108  0.857143  0.55  1.000000      1.0  324.95
3     0.924381  0.198198  0.857143  0.55  1.000000      1.0  692.96
4     0.924381  0.225225  0.857143  0.55  1.000000      1.0  778.06
...        ...       ...       ...   ...       ...      ...     ...
7495  0.731421  0.045045  0.000000  0.60  0.666667      1.0   19.98
7496  0.524120  0.027027  0.000000  0.45  0.666667      1.0   16.76
7497  0.368970  0.036036  0.000000  0.50  0.666667      1.0   24.45
7498  0.411995  0.090090  0.000000  0.55  1.000000      1.0   64.50
7499  0.702738  0.045045  0.000000  0.55  1.000000      1.0   31.63

[6953 rows x 7 columns]

In [10]:
df.reset_index(drop=True, inplace=True)

In [11]:
df.head()

   wine  year  rating   price  type  body  acidity
0   691    11     4.9  995.00    19   5.0      3.0
1   743     6     4.9  313.50    18   4.0      2.0
2   709    15     4.8  324.95    11   5.0      3.0
3   709    25     4.8  692.96    11   5.0      3.0
4   709    28     4.8  778.06    11   5.0      3.0

In [12]:
X=scaled_data.drop(columns=['price'])
y=scaled_data['price']

In [13]:
math.floor(X.shape[0]*0.2)

1390

In [14]:
int((len(X)*0.2))

1390

In [15]:
import random

In [16]:
X_a=list(X)

random_row = df.sample(axis=0).iloc[0,:]
print(random_row.name)
print(random_row)

1485
wine       126.0
year         7.0
rating       4.3
price       24.1
type         2.0
body         4.0
acidity      3.0
Name: 1485, dtype: Float64

In [17]:
y.name

'price'

In [18]:
test_X=[]
test_y=[]
def my_train_test_split(X,y,test_size=0.2):
    temp=df.copy()
    X_test_size=int((len(X)*test_size))
    y_test_size=X_test_size
    for i in range(X_test_size):
        random_row = temp.sample(axis=0).iloc[0,:]
        test_X.append(random_row) 
        temp.drop(random_row.name, inplace=True)
    for i in range(y_test_size):
        random_row = temp.sample(axis=0).iloc[0,:]
        test_y.append(random_row) 
        temp.drop(random_row.name, inplace=True)   
    X_test=pd.DataFrame(test_X, columns=X.columns)
    y_test = pd.Series(test_y, name=y.name)
    X_train = X.drop(X.index[X_test.index])
    y_train = y.drop(y.index[y_test.index])
    
    return X_train,X_test,y_train,y_test

In [19]:
X_train,X_test,y_train,y_test = my_train_test_split(X,y,test_size=0.2)

In [20]:
X_train.shape

(5563, 6)

In [21]:
X_test.shape

(1390, 6)

In [22]:
y_train.shape

(5563,)

In [23]:
y_test.shape

(1390,)